

.card{
    color: #56CCF2;
    text-align: center;
    background-color: #F8F8FF;
    border: 3px solid #2F80ED;
    font-weight: normal !important;
    box-shadow: 5px 1.5px 5px #979797;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
   
    
}





.card:hover{
    color: #56CCF2;
    background-color: #001F3D;
    border: 3px solid #BED8FC;
    
}