/* .form_div {
    display: grid;
    grid-template-columns: 12px, 30px, 12px
} */

form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
}

input {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    grid-column: 2/4;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    margin-bottom: 5px;
}


input:placeholder-shown ~ .form_label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.form_label{
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}

input:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}

input:focus ~ .form_label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
}


.usernameInput {
    margin-bottom: 5px;
}
.passwordInput {
    margin-bottom: 5px;
}

.loginbutton{
  
    width: 100px;
    height: 50px;
    background-color: #56CCF2;
    color: #4F4F4F;
    font-size: 22px;;
    border-radius: 28.9px;
    border: 3px solid #E0E0E0;
    outline: none;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    grid-column: 2/3;
  }
  
  
  .loginbutton:hover {
      color: #F8F8FF;
      background-color: #001F3D;
      border: 2px solid #BED8FC;
  }
.togglebutton{
  
    width: 100px;
    height: 50px;
    background-color: #56CCF2;
    color: #4F4F4F;
    font-size: 16px;
    border-radius: 28.9px;
    border: 3px solid #E0E0E0;
    outline: none;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    grid-column: 3/4;
  }
  
  
  .togglebutton:hover {
      color: #F8F8FF;
      background-color: #001F3D;
      border: 2px solid #BED8FC;
  }
 
  .companyDropdown {
      grid-column: 2/4;
      border-color: #828282;
      padding-top: 5px;
      margin-top: 10px;
  }

  .companyDropdown:hover {
      
  }